---
layout: default
title: join
permalink: /join/
---

<h1>Join Us!</h1>
<h2>Membership Form</h2>
<p>Please fill out the form below to sign up as a member.<br/>
    Your membership is pending approval at one of our monthly meetings. It is unusual for someone to be declined, this is just a formality. <br/>
    You will get an email once your membership has been approved. <br/>
    After approval, you will be required to pay $10 for a yearly membership. The $10 covers minimal obligatory expenses. It also formalises your membership with us.<br/>
    It keeps us running! And you get to be an official member, with voting benefits. <br/>
    You can also chose to make manual donations, please contact us for details on how to do that <br/>
</p>
<h2>Terms and Agreements:</h2>
<p>
    Please see our <a href="/about/CodeOfConduct/">Code of Conduct</a> before submitting the below form:</a><br/>
    Membership expires on 31st of December. Rewnewel notices will be sent in January.<br/>
</p>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSceqSs5XdES-QFpo1TASUD69UMnmTaSnSchy86sJU2RsC2h2w/viewform?embedded=true" width="100%" height="1100" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
